/* General */

html {
  overflow-y: auto;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

/* Application */

.theme--light.v-application {
  background: var(--v-background-base);
}

.theme--dark.v-application {
  background: var(--v-background-base);
}

/* Icon */

.v-icon {
  transition: none !important;
}

/* Toolbar */

.v-toolbar__content {
  padding: 0px;
}

/* Miscellaneous */

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}
